/* Header Setion */
.wrapper{
    margin: 30px 70px 20px 30px;
}
.header__logo{
    padding-left: 30px;
    font-weight: bolder;
}
.header__items ul{
    display: flex;
}
.header__items  li{
   list-style-type: none;
   margin: 0px 25px;
}
.header__items li a:hover{
    color: blue;
}
/* content section 1 */
.content{
    background-color: rgb(238, 229, 229);
    padding: 40px 10px 50px  10px;
    margin: 70px 40px 20px 20px;
}
.content__button{
    background-color: rgb(238, 229, 229);
}
.content__button:hover{
    background-color: blue;
    color:  white;
}
/* Content Section 2  */
.section{
    display: flex;
    align-content: center;
}
.section__container{
    margin: 0px 30px; 
    align-content: center;
}
.section__container a:hover{
    color: blue;
}
.section__container-empty{
    background-color: rgb(238, 229, 229);
    padding : 40px 200px;
}
.section__container-heading{
    text-align: center;

}
.section__container-content{
    text-align: center;
}
.section__container-link{
    padding-left: 150px;
}
/* footer section */
.footerup__content{
    display: flex;
    background-color: rgb(238, 229, 229);
    padding: 10px 200px 0px;
    margin: 20px 0px 5px;
}
.footerup__content-heading{
    padding-left: 100px;
}
.footerup__content-text{
    padding: 30px 30px;
}
.footerup__content-button{
    padding: 25px 20px;
}
.footerup__button{
    padding: 5px 50px;
    background-color: blue;
    color: white;
}
.footerup__button:hover{
    background-color: white;
    color: black;
}
/* footer section */
.footerdown__left{
    float: left;

}
.footerdown__right{
    float: right;

}


