/* Header Setion */
.wrapper {
  margin: 50px;
}
.header {
  padding-bottom: 50px;
  display: block;
}
.header__logo {
  display: inline;
  width: 70%;
}
.header__items ul {
  display: flex;
  list-style-type: none;
}
.header__items ul li {
  padding-right: 50px;
  display: block;
}
/* content section 1 */
.content {
  width: 95%;
  background-color: rgb(238, 229, 229);
  padding: 40px 20px;
  display: block;
}
.content__para {
  width: 30%;
}
/* Content Section 2  */
.section__container {
  text-align: center;
  display: inline;
  width: 31%;
  float: left;
  padding: 10px 10px;
}
.section__container-empty {
  background-color: rgb(238, 229, 229);
  padding: 3em 4em;
  align-content: center;
  margin: 20px 20px;
}
/* footer section */
.footerup {
  margin-top: 20px;
  float: left;
  width: 100%;
  text-align: center;
  background-color: rgb(238, 229, 229);
}
.footerup__div{
    display: flex;
}
.footerup__div-heading {
  padding-left: 350px;
  padding-top: 5px;
}
.footerup__div-content {
  padding: 30px 70px;
}
.footerup__div-button {
  padding: 7px 50px;
  margin: 0px 30px;
  background-color: blue;
  color: white;
}
/* footer section */
.footerdown__left {
  float: left;
}
.footerdown__right {
  float: right;
}
